/* ////////////////////////   Efnify responsive stylesheet ////////////////////////////// */


/*------------------------------------------------------------------
[Table of contents]

1. App Responsive 
2. Only small (mobile) device size
3. medium and top(large and extra large) device size
4. Medium and below(small and extra small) device size
5. large and extra large device size

-------------------------------------------------------------------*/


/* App Responsive  */


/* Pages (login,signup,....) */

@media(max-width:500px) {
    .ui-app__page-content.ui-app__page-content--form {
        width: 100%;
    }
}

/* Only small (mobile) device size*/

@media only screen and (max-width: 600px) {
    .ui-app__wrapper__navbar__rightside--notifications__dropdown {
        width: 100% !important;
    }
}


/* medium and top(large and extra large) device size */

@media (min-width: 600px) {
    /* navbar and leftsidenav unfixed */
    .navbar-unfixed .navbar-fixed nav,
    .left-sidenav-unfixed .sidenav.sidenav-fixed {
        position: absolute !important;
    }
}


/* Medium and below(small and extra small) device size */

@media only screen and (max-width: 992px) {
    /* page layout */
    main,
    footer {
        margin-left: 0;
    }
}


/* large and extra large device size */

@media (min-width: 992px) {
    /* left sidenav small */
    .left-sidenav-small .ui-app__left-sidenav.sidenav {
        width: 72px;
    }
    .left-sidenav-small .ui-app__left-sidenav.sidenav,
    .left-sidenav-small .ui-app__left-sidenav.sidenav ul {
        overflow-x: hidden;
    }
    .left-sidenav-small .ui-app__left-sidenav.sidenav .collapsible-body,
    .left-sidenav-small .ui-app__left-sidenav.sidenav .ui-app__left-sidenav__collapsible-quick-menu-name {
        display: none !important;
    }
    .left-sidenav-small .ui-app__left-sidenav.sidenav li>a.btn-dashboard {
        margin-left: 8px;
        margin-right: 0px;
        width: 56px;
    }
    .left-sidenav-small .ui-app__left-sidenav.sidenav li>a.btn-dashboard>i {
        margin-right: 0px !important;
        margin-left: 1px !important;
    }
    .left-sidenav-small main,
    .left-sidenav-small footer,
    .left-sidenav-small-toggle main,
    .left-sidenav-small-toggle footer {
        margin-left: 72px;
    }
}
